.place__title {
  font-family: var(--default-font);
  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  margin: 0;
}

@media screen and (max-width: 992px) {
  .place__title {
    font-size: 42px;
    line-height: 1.095;
  }
}

@media screen and (max-width: 720px) {
  .place__title {
    font-size: 32px;
    line-height: 1.09375;
    padding: 0 16px;
  }
}
