.photo-grid {
  margin: 92px 0;
  padding: 0 48px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1199px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 14px;
  }
}

@media screen and (max-width: 992px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    padding: 0 24px;
    margin: 88px 0;
    gap: 16px;
  }
}
