.places {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .places {
    max-width: 100%;
    padding: 0 48px;
  }
}

@media screen and (max-width: 992px) {
  .places {
    padding: 0 24px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    padding: 0;
  }
}
