.lead {
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .lead {
    max-width: 100%;
    margin: 0;
    padding: 0 48px;
  }
}

@media screen and (max-width: 992px) {
  .lead {
    padding: 0;
  }
}
