.cover__subtitle {
  font-family: var(--default-font);
  color: var(--white-color);
  font-style: normal;
  margin: 32px 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  max-width: 360px;
}
