.place__paragraph {
  font-family: var(--default-font);
  color: var(--white-color);
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (max-width: 992px) {
  .place__paragraph {
    font-size: 16px;
  }
}
