.intro {
  max-width: 984px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1199px) {
  .intro {
    max-width: 100%;
    padding: 0 48px;
  }
}

@media screen and (max-width: 992px) {
  .intro {
    margin-top: 88px;
    padding: 0 24px;
  }
}
