.cover {
  background-image: url("../../images/cover-trains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  margin: 92px 48px 0;
}

@media screen and (max-width: 1199px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 720px) {
  .cover {
    margin-top: 66px;
  }
}
