.place__link {
  font-family: var(--default-font);
  color: var(--white-color);
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration: underline;
  display: block;
  transition: opacity .1s linear;
}

.place__link:hover {
  opacity: .8;
}
