.cover__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(var(--brown-color-rgb), .3);
  transition: background-color .1s linear;
  text-decoration: none;
  padding: 245px 0;
}

.cover__overlay:hover {
  background-color: rgba(var(--brown-color-rgb), .8);
}

@media screen and (max-width: 1199px) {
  .cover__overlay {
    padding: 195px 0;
  }
}

@media screen and (max-width: 992px) {
  .cover__overlay {
    padding: 115px 0;
  }
}
