.cover__overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(var(--brown-color-rgb), .3);
  transition: background-color .1s linear;
  text-decoration: none;
}

.cover__overlay:hover {
  background-color: rgba(var(--brown-color-rgb), .8);
}
