.lead__caption {
  color: var(--white-color);
  font-family: var(--default-font);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 8px 0 0;
}

@media screen and (max-width: 992px) {
  .lead__caption {
    padding-left: 24px;
  }
}
