.intro__title {
  font-family: var(--default-font);
  color: var(--white-color);
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.074;
  max-width: 690px;
}

@media screen and (max-width: 992px) {
  .intro__title {
    max-width: 100%;
  }
}
